input {
	display: block;
	width: 100%;
}

.darkmode-container, .input {
	width: 50%;
	min-width: 200px;
}

.input > div:not(:last-child) {
	margin-bottom: 10px;
}

body, .wrapper {
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 100%;
}

.container {
	width: 40%;
	padding-top: 100px;
}

.block {
	padding: 10px;
	margin-bottom: 10px;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	min-width: 600px;
	text-align: center;
}

td {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 4px;
	padding-bottom: 4px;
}

@media (max-aspect-ratio: 4/3) {
	.container {
		width: 100%;
		padding-top: 0;
	}

	.block {
		width: 100%;
	}

	table {
		width: 100%;
		min-width: 50%;
	}

	td {
		padding-left: 0;
		padding-right: 0;
	}
}

body {
	font-family: Verdana, Geneva, sans-serif;
}

body.white {
	background-image: url("assets/noise.png");
	background-color: #d4d4d4;
	color: #000;
}

body.dark {
	background-image: url("assets/noise.png");
	background-color: #484848;
	color: #000;
}

body.black {
	background-color: #000;
	color: #CCC;
}

body.white .block {
	background-color: #FFF;
}

body.dark .block {
	background-color: #888;
}

body.black .block {
	background-color: #333;
}

body.white tr:nth-child(even) {background-color: #f2f2f2;}
body.dark tr:nth-child(even) {background-color: #959595;}
body.black tr:nth-child(even) {background-color: #000;}

.block:empty{
	background-color: rgba(0,0,0,0);
}