@import url("https://overpass-30e2.kxcdn.com/overpass.css");

/*
	Default Layout
*/
.calculator {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;	
		}
	}

	input[type=text], input[type=number], input[type=button] {
		border-radius: 6px;
		height: 30px;
		padding-left: 10px;
	}

	hr.solid {
		border-top: 3px solid #bbb;
	}

	.input-line {
		span {
			display: block;
			margin-bottom: 2px;
		}
		
		input {
			display: block;
			width: 100%;
		}
	}

	.radio-group {
		margin-top: 5px;
	}

	.input-box {
		label {
			margin-left: 5px;
		}
	}

	.radio-group, .macerator {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.block {
		&:not(:empty) {
			padding: 10px;

			&.output {
				padding: 0px;
			}
		}

		&.darkmode {
			input {
				width: 100%;
			}
		}

		border-radius: 6px;

		&.input {
			.array {
				> :not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		&.title {
			font-size: 125%;
			text-align: center;
		}

		&.output {
			table {
				width: 100%;
				border-collapse: collapse;
				table-layout: auto;
				text-align: center;

				tr {
					td {
						width: auto;
						white-space: nowrap;
						padding: 4px;
					}

					td:not(:last-child) {
						margin-right: 20px;
					}

					&:last-child td:first-child {
						border-bottom-left-radius: 6px;
					}
					
					&:last-child td:last-child {
						border-bottom-right-radius: 6px;
					}
				}
			}
		}

		&.comment {
			ul {
				margin-block-start: 0px;
				margin-block-end: 0px;
				padding-inline-start: 20px;

				li:not(:last-child) {
					padding-bottom: 10px;
				}

				ul {
					padding-top: 10px;
				}
			}
		}

		&.attribution {
			height: 1.5em;
			line-height: 1.5em;
			text-align: center;

			display: flex;
			flex-direction: row;
			justify-content: space-between;

			input {
				height: auto;
			}

			span {
				display: inline;
				vertical-align: middle;
			}

			img {
				display: inline;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
				border-radius: 50%;

				border: 1px solid rgba($color: #000000, $alpha: 0.5);
			}
		}

		&:not(:first-child) {
			&:not(:empty) {
				margin-top: 10px;
			}
		}
	}
}

/*
	Themes
*/
body {
	display: flex;
	justify-content: center;
	font-family: "overpass";
	font-weight: 400;

	&.white {
		background-image: url("assets/noise.png");
		background-color: #d4d4d4;
		color: #000;

		input[type=text], input[type=number], input[type=button] { 
			border: 1px solid #2d9fd9;
				
			&:focus {
				outline: none;
				border: 1px solid #a0d18c;
				color: #2d9fd9;
			}
		}

		.block {
			background-color: #FFF;

			&:not(:empty) {
				border: 1px solid #BBB;
			}

			&.output {
				table {
					tr:first-child {
						border-bottom: 1px solid #BBB;
					}

					tr:nth-child(even) {
						background-color: #f2f2f2;
					}
				}
			}
		}
	}

	&.dark {
		background-image: url("assets/noise.png");
		background-color: #484848;
		color: #000;

		a {
			color: #1111AA;
		}

		input[type=text], input[type=number], input[type=button] { 
			border: 1px solid #666;
			background-color: #CCC;
			color: #333;
				
			&:focus {
				outline: none;
				border: 1px solid #CCC;
				color: #000;
			}
		}

		.block {
			background-color: #888;

			&:not(:empty) {
				border: 1px solid #111;
			}

			&.output {
				table {
					tr:first-child {
						border-bottom: 1px solid #111;
					}

					tr:nth-child(even) {
						background-color: #959595;
					}
				}
			}
		}
	}

	&.black {
		background-color: rgb(20, 20, 20);
		color: #CCC;

		a {
			color: #2d9fd9;
		}

		input[type=text], input[type=number], input[type=button] { 
			border: 1px solid #353535;
			background-color: #111;
			color: #CCC;
				
			&:focus {
				outline: none;
				border: 1px solid #888;
				color: #FFF;
			}
		}

		.block {
			background-color: #181818;

			&:not(:empty) {
				border: 1px solid #224466;
			}

			&.output {
				table {
					tr:first-child {
						border-bottom: 1px solid #224466;
					}

					tr:nth-child(even) {
						background-color: #000;
					}
				}
			}
		}
	}
}

/*
	Mobile Layout
*/
@media (max-aspect-ratio: 4/3) {
	.calculator {	
		width: 100%;
		padding: 10px;

		.block {
			border-radius: 0px;	

			&.output {
				table {
					width: 100%;
					min-width: 50%;
				}
			}
		}

		> .block {
			&:first-child {
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
			}
		
			&:last-child {
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}

			&:not(:first-child) {
				border-top: 0px!important;
				margin-top: 0px!important;
			}
		}

		.input-container {
			.block {
				border-top: 0px!important;
				margin-top: 0px!important;
			}
		}
	}
}

/*
	Desktop Layout Override
*/
@media (min-aspect-ratio: 4/3) {
	.calculator {
		width: 40%;
		min-width: 500px;
		padding-top: 25px;
		padding-bottom: 25px;

		.input-container {
			display: flex;
			flex-direction: row;
			margin-top: 10px;
	
			.block {
				width: 100%;
	
				&:not(:first-child) {
					margin-top: 0px!important;
					margin-left: 10px!important;
				}
			}
		}
	}
}